{% load staticfiles %} {% load bootstrap4 %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>


  <!--Menium Style Editor-->
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">

  <!--Custom CSS-->
  <link rel='stylesheet' href="{% static 'css/blog.css'%}">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
</head>

<body>

  <!-- NAVBAR -->
</body>

</html>